.welcome-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-main {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: rgb(240, 236, 232);
  border-radius: 20px;
}

.welcome-login,
.welcome-signup {
  color: rgb(255, 255, 255);
  background-color: #3778c2;
  text-decoration: none;
  border: 1px solid rgb(221, 228, 231);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
}

.welcome-buttons {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.welcome-tilte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


@media only screen and (max-width: 768px) {

  .welcome-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 236, 232);
    margin-top: -40px;
  }

  .welcome-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .welcome-buttons {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}